@section Styles {
    <link rel="stylesheet" href="~/css/CssExercises/resetexercises.css">
    <link rel="stylesheet" href="~/css/CssExercises/responsiveexercises.css">
    <link rel="stylesheet" href="~/css/CssQuick/mainquick.css">
}


<section id="introducao" class="introducao">
    <div class="dores">
        <h1>Exercícios para Dores</h1>
    </div>
</section>
