@section Styles {
    <link rel="stylesheet" href="~/css/CssQuick/mainquick.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/CssQuick/resetquick.css">
}


<section class="apresentation-test">
    <div class="textos">
        <h1 class="frase">“Um dos principais problemas associados ao envelhecimento humano é a redução da habilidade
            para controlar a postura e a marcha, podendo levar à ocorrência de quedas, diminuindo, assim, a capacidade
            funcional dos idosos.” </p>
            <h2 class="title">Teste de Freeman-Romberg apoio unipodal com olhos fechados
        </h1>
    </div>
    <img src="../img/testes/freemann.png" alt="Imagem de um homem se equilibrando" class="Freeman-Romberg">
</section>

<section class="titulo-tabela-1">
    <h1 class="title">Cronometrar quanto tempo o indivíduo permanece</h1>
</section>


<section class="informations">
    <p class="p2">
        <p>Sem oscilar</p>
        <p>Em apoio unipodal</p>
        <p>Olhos fechados</p>
        <p>As mãos para baixo</p>
    </p>
    <img src="../img/tabelas/1.png" alt="Tabela teste Freeman-Romberg" class="tabela-freeman">
</section>

<section class="results"></section>
