<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vitor Personal</title>
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="shortcut icon" href="~/img/icons/logo.png" type="image/x-icon">
</head>

<body>
    <header class="header">
        <div class="logoz">
            <img src="~/img/icons/logo.png" class="LogoVitor">
            <a asp-action="Index" class="logo"><span>PERSONAL</span>VITOR</a>
        </div>

        <div id="menu-btn" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="#home">Início</a>
            <a href="#about">Sobre</a>
            <a href="#features">Testes</a>
            <a href="#trainers">Contatos</a>
        </nav>

    </header>


    <main>
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Contatos</h3>
                <p><i class="fas fa-phone"></i> +55 (16) 99758-1951</p>
                <p><i class="fas fa-envelope"></i> virto_tutta@hotmail.com</p>
                <p><i class="fas fa-map"></i> Barra Bonita, Brasil</p>
                <p><i class="fab fa-instagram"></i> vitortutta</p> 
            </div>

        </div>
    </footer>

    <button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/backtop.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
